<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body class="register">
    <%- include('../partials/header') %>

    <main class="registro">
        <section class="titular">
           
        </section>
        <div class="box-img-user">
            <img class="img-user" src="/images/users/<%= user.avatar %>" alt="usuario">
        </div>
        <form id="form-profile" class="log" action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data" data-aos="fade-up" data-aos-duration="1000">
            <h2 class="titulo">Perfil de <%= user.name %></h2>
            <p class="invalid" id="error-empty-upd"></p>
            <input id="name-upd" class="input-g" type="text" name="name" placeholder="Nombre" value="">
            <span id="name-upd-error" class="red-msg"><%= locals.errors && errors.name ? errors.name.msg : null %></span>

            <input id="surname-upd" class="input-g" type="text" name="lastName" placeholder="Apellido" value="">
            <span id="surname-upd-error" class="red-msg"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></span>

            <input id="email-upd" class="input-g" type="email" name="email" placeholder="E-mail" value="">
            <span id="email-upd-error" class="red-msg"><%= locals.errors && errors.email ? errors.email.msg : null %></span>

            <input id="oldPass" class="input-g" type="password" name="oldPass" placeholder="Ingresa la contraseña">
            <span id="oldPass-error" class="red-msg"><%= locals.errors && errors.oldPass ? errors.oldPass.msg : null %></span>

            <input id="pass-upd" class="input-g" type="password" name="pass" placeholder="Elige nueva contraseña">
            <span id="pass-upd-error" class="red-msg"><%= locals.errors && errors.pass ? errors.pass.msg : null %></span>

            <input id="pass2-upd" class="input-g" type="password" name="pass2" placeholder="Confirmar contraseña">
            <span id="pass2-upd-error" class="red-msg"><%= locals.errors && errors.pass2 ? errors.pass2.msg : null %></span>

            <input id="img-upd" class="input-g" type="file" name="avatar" accept="image/*" value="<%= user.avatar %>">
            <span id="img-upd-error" class="red-msg"><%= locals.errors && errors.avatar ? errors.avatar.msg : null %></span>

            <button class="btn-g" type="submit">Guardar cambios</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>