<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body class="register">
    <%- include('../partials/header') %>

    <main class="registro">
        <form class="log" id="form-register" action="" method="POST" enctype="multipart/form-data" data-aos="fade-up" data-aos-duration="1000">
            <h3>Registrarme</h3>
            <p class="invalid" id="error-empty"></p>
            <input class="input-g" id="name-reg" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name ? old.name : null %>">
            <span id="name-error" class="red-msg"><%= locals.errors && errors.name ? errors.name.msg : null %></span>

            <input class="input-g" id="l-name-reg" type="text" name="lastName" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : null %>">
            <span id="lastName-error" class="red-msg"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></span>

            <input class="input-g" id="email-reg" type="email" name="email" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : null %>">
            <span id="email-error" class="red-msg"><%= locals.errors && errors.email ? errors.email.msg : null %></span>

            <input class="input-g" id="pass-reg" type="password" name="pass" placeholder="Elige una contraseña">
            <span id="pass-error" class="red-msg"><%= locals.errors && errors.pass ? errors.pass.msg : null %></span>

            <input class="input-g" id="pass2-reg" type="password" name="pass2" placeholder="Confirmar contraseña">
            <span id="pass2-error" class="red-msg"><%= locals.errors && errors.pass2 ? errors.pass2.msg : null %></span>

            <input class="input-g" id="img-reg" type="file" name="avatar" accept="image/*">
            <span class="red-msg" id="img-error"><%= locals.errors && errors.avatar ? errors.avatar.msg : null %></span>

            <div class="buttons">
                <button class="btn-g" type="submit">Crear cuenta</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>